<nav class="nav">
    <div class="wrapp">
        <ul class="list">
            <li class="list__item" [routerLink]="['/profile']">
                <img src="/assets/images/nav-profile/nav-profile.svg"/>
                <p class="list__item__name">Моя страница</p>
            </li>

            <li class="list__item" [routerLink]="['/freind']">
                <img src="/assets/images/nav-profile/freinds.svg"/>
                <p class="list__item__name">Друзья</p>
            </li>
        </ul>
    </div>
</nav>