<div class="modal">
    <h3 class="modal__heading">Список участников чата</h3>
    <ul class="list">
      <li class="list__item" *ngFor="let participant of participants">
        <div class="list__item__wrapp-img">
          <img
            class="list__item__wrapp-img__img"
            [src]="apiImageUrl + '/' + participant.user.avatar"
          />
        </div>
  
        <p class="list__item__name">{{ participant.user.surname }} {{ participant.user.name }}</p>
      </li>
    </ul>
  </div>
  