<app-header></app-header>
<section class="freind">
    <div class="container">
        <div class="wrapp">
            <app-nav-profile></app-nav-profile>
            <div class="content">
                <div class="content__header">
                    <input class="content__header__field" placeholder="Найти друзей"/>
                </div>


                <div class="content__freind" [formGroup]="form">
                    <form class="content__freind__form">
                        <select name="select" class="content__freind__form__switch" (click)="onChange($event)">
                            <option class="content__freind__form__switch__item" value="value1">Все пользователи</option>
                            <option class="content__freind___form_switch__item" value="value2" selected>Друзья</option>
                        </select>
                    </form>

                    <ul class="content__freind__list" *ngIf="freind">
                        <li class="content__freind__list__item"  *ngFor="let freind of freinds">
                            <div class="content__freind__list__item__wrapp-img">
                                <img class="content__freind__list__item__img" [src]="apiUrl + '/' + freind.avatar"/>
                            </div>


                            <div class="content__freind__list__item__wrapp-name">
                                <p class="content__freind__list__item__name">{{freind.surname}} {{freind.name}}</p>
                                <p class="content__freind__list__item__link" (click)="openModal(freind, $event)">Написать сообщение</p>
                                <app-message-modal *ngIf="messageModal" [freind]="selectedFreind"></app-message-modal>
                            </div>
                        </li>
                    </ul>


                    
                    <ul class="content__freind__list" *ngIf="!freind">
                        <li class="content__freind__list__item" *ngFor="let user of users">
                            <div class="content__freind__list__item__wrapp-img">
                                <img class="content__freind__list__item__img" [src]="apiUrl + '/' + user.avatar"/>
                            </div>
                    
                            <div class="content__freind__list__item__wrapp-name">
                                <p class="content__freind__list__item__name">{{user.surname}} {{user.name}}</p>
                    
                                <ng-container *ngIf="isFriend(user.id); else notFriend">
                                    <p class="content__freind__list__item__accepted">У вас в друзьях</p>
                                </ng-container>
                    
                                <ng-template #notFriend>
                                    <ng-container *ngIf="hasSentRequest(user.id); else noRequestBlock">
                                        <p class="content__freind__list__item__request">Запрос отправлен</p>
                                    </ng-container>
                    
                                    <ng-template #noRequestBlock>
                                        <p class="content__freind__list__item__link" (click)="createRequestFreind(user.id)">Добавить в друзья</p>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>